<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guyue.guyueweb.mapper.TSlowSetLogMapper">
  <resultMap id="BaseResultMap" type="com.guyue.guyueweb.mapperbean.TSlowSetLog">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="long_querytime" jdbcType="DECIMAL" property="longQuerytime" />
    <result column="startid" jdbcType="BIGINT" property="startid" />
    <result column="endid" jdbcType="BIGINT" property="endid" />
    <result column="d_starttime" jdbcType="TIMESTAMP" property="dStarttime" />
    <result column="d_endtime" jdbcType="TIMESTAMP" property="dEndtime" />
  </resultMap>
</mapper>