<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.guyue.common.dao.CommonRightMapper" >
  <resultMap id="BaseResultMap" type="com.guyue.common.vo.CommonRight" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="n_projectid" property="nProjectid" jdbcType="BIGINT" />
    <result column="c_key" property="cKey" jdbcType="VARCHAR" />
    <result column="n_invalid" property="nInvalid" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, n_projectid, c_key, n_invalid
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_common_right
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_common_right
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.guyue.common.vo.CommonRight" >
    insert into t_common_right (id, n_projectid, c_key, 
      n_invalid)
    values (#{id,jdbcType=BIGINT}, #{nProjectid,jdbcType=BIGINT}, #{cKey,jdbcType=VARCHAR}, 
      #{nInvalid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.guyue.common.vo.CommonRight" >
    insert into t_common_right
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="nProjectid != null" >
        n_projectid,
      </if>
      <if test="cKey != null" >
        c_key,
      </if>
      <if test="nInvalid != null" >
        n_invalid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="nProjectid != null" >
        #{nProjectid,jdbcType=BIGINT},
      </if>
      <if test="cKey != null" >
        #{cKey,jdbcType=VARCHAR},
      </if>
      <if test="nInvalid != null" >
        #{nInvalid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.guyue.common.vo.CommonRight" >
    update t_common_right
    <set >
      <if test="nProjectid != null" >
        n_projectid = #{nProjectid,jdbcType=BIGINT},
      </if>
      <if test="cKey != null" >
        c_key = #{cKey,jdbcType=VARCHAR},
      </if>
      <if test="nInvalid != null" >
        n_invalid = #{nInvalid,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.guyue.common.vo.CommonRight" >
    update t_common_right
    set n_projectid = #{nProjectid,jdbcType=BIGINT},
      c_key = #{cKey,jdbcType=VARCHAR},
      n_invalid = #{nInvalid,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>