<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.guyue.common.dao.CommonRolerightMapper" >
  <resultMap id="BaseResultMap" type="com.guyue.common.vo.CommonRoleright" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="c_rightkey" property="cRightkey" jdbcType="VARCHAR" />
    <result column="n_roleid" property="nRoleid" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, c_rightkey, n_roleid
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_common_roleright
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_common_roleright
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.guyue.common.vo.CommonRoleright" >
    insert into t_common_roleright (id, c_rightkey, n_roleid
      )
    values (#{id,jdbcType=BIGINT}, #{cRightkey,jdbcType=VARCHAR}, #{nRoleid,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.guyue.common.vo.CommonRoleright" >
    insert into t_common_roleright
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="cRightkey != null" >
        c_rightkey,
      </if>
      <if test="nRoleid != null" >
        n_roleid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="cRightkey != null" >
        #{cRightkey,jdbcType=VARCHAR},
      </if>
      <if test="nRoleid != null" >
        #{nRoleid,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.guyue.common.vo.CommonRoleright" >
    update t_common_roleright
    <set >
      <if test="cRightkey != null" >
        c_rightkey = #{cRightkey,jdbcType=VARCHAR},
      </if>
      <if test="nRoleid != null" >
        n_roleid = #{nRoleid,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.guyue.common.vo.CommonRoleright" >
    update t_common_roleright
    set c_rightkey = #{cRightkey,jdbcType=VARCHAR},
      n_roleid = #{nRoleid,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>