<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.guyue.common.dao.CommonCodeMapper" >
  <resultMap id="BaseResultMap" type="com.guyue.common.vo.CommonCode" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="c_codetype" property="cCodetype" jdbcType="VARCHAR" />
    <result column="c_code" property="cCode" jdbcType="VARCHAR" />
    <result column="c_value" property="cValue" jdbcType="VARCHAR" />
    <result column="c_value_en" property="cValueEn" jdbcType="VARCHAR" />
    <result column="n_order" property="nOrder" jdbcType="INTEGER" />
    <result column="c_pcode" property="cPcode" jdbcType="VARCHAR" />
    <result column="c_desc" property="cDesc" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, c_codetype, c_code, c_value, c_value_en, n_order, c_pcode, c_desc
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_common_code
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_common_code
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.guyue.common.vo.CommonCode" >
    insert into t_common_code (id, c_codetype, c_code, 
      c_value, c_value_en, n_order, 
      c_pcode, c_desc)
    values (#{id,jdbcType=BIGINT}, #{cCodetype,jdbcType=VARCHAR}, #{cCode,jdbcType=VARCHAR}, 
      #{cValue,jdbcType=VARCHAR}, #{cValueEn,jdbcType=VARCHAR}, #{nOrder,jdbcType=INTEGER}, 
      #{cPcode,jdbcType=VARCHAR}, #{cDesc,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.guyue.common.vo.CommonCode" >
    insert into t_common_code
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="cCodetype != null" >
        c_codetype,
      </if>
      <if test="cCode != null" >
        c_code,
      </if>
      <if test="cValue != null" >
        c_value,
      </if>
      <if test="cValueEn != null" >
        c_value_en,
      </if>
      <if test="nOrder != null" >
        n_order,
      </if>
      <if test="cPcode != null" >
        c_pcode,
      </if>
      <if test="cDesc != null" >
        c_desc,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="cCodetype != null" >
        #{cCodetype,jdbcType=VARCHAR},
      </if>
      <if test="cCode != null" >
        #{cCode,jdbcType=VARCHAR},
      </if>
      <if test="cValue != null" >
        #{cValue,jdbcType=VARCHAR},
      </if>
      <if test="cValueEn != null" >
        #{cValueEn,jdbcType=VARCHAR},
      </if>
      <if test="nOrder != null" >
        #{nOrder,jdbcType=INTEGER},
      </if>
      <if test="cPcode != null" >
        #{cPcode,jdbcType=VARCHAR},
      </if>
      <if test="cDesc != null" >
        #{cDesc,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.guyue.common.vo.CommonCode" >
    update t_common_code
    <set >
      <if test="cCodetype != null" >
        c_codetype = #{cCodetype,jdbcType=VARCHAR},
      </if>
      <if test="cCode != null" >
        c_code = #{cCode,jdbcType=VARCHAR},
      </if>
      <if test="cValue != null" >
        c_value = #{cValue,jdbcType=VARCHAR},
      </if>
      <if test="cValueEn != null" >
        c_value_en = #{cValueEn,jdbcType=VARCHAR},
      </if>
      <if test="nOrder != null" >
        n_order = #{nOrder,jdbcType=INTEGER},
      </if>
      <if test="cPcode != null" >
        c_pcode = #{cPcode,jdbcType=VARCHAR},
      </if>
      <if test="cDesc != null" >
        c_desc = #{cDesc,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.guyue.common.vo.CommonCode" >
    update t_common_code
    set c_codetype = #{cCodetype,jdbcType=VARCHAR},
      c_code = #{cCode,jdbcType=VARCHAR},
      c_value = #{cValue,jdbcType=VARCHAR},
      c_value_en = #{cValueEn,jdbcType=VARCHAR},
      n_order = #{nOrder,jdbcType=INTEGER},
      c_pcode = #{cPcode,jdbcType=VARCHAR},
      c_desc = #{cDesc,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>