<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.guyue.common.dao.CommonOptLogMapper" >
  <resultMap id="BaseResultMap" type="com.guyue.common.vo.CommonOptLog" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="operator_id" property="operatorId" jdbcType="INTEGER" />
    <result column="operator_name" property="operatorName" jdbcType="VARCHAR" />
    <result column="key_id" property="keyId" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="ip" property="ip" jdbcType="VARCHAR" />
    <result column="operate_model" property="operateModel" jdbcType="INTEGER" />
    <result column="action" property="action" jdbcType="INTEGER" />
    <result column="message" property="message" jdbcType="VARCHAR" />
    <result column="source" property="source" jdbcType="BIT" />
    <result column="success_status" property="successStatus" jdbcType="BIT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, operator_id, operator_name, key_id, create_time, ip, operate_model, action, message, 
    source, success_status
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_common_opt_log
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_common_opt_log
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.guyue.common.vo.CommonOptLog" >
    insert into t_common_opt_log (id, operator_id, operator_name, 
      key_id, create_time, ip, 
      operate_model, action, message, 
      source, success_status)
    values (#{id,jdbcType=INTEGER}, #{operatorId,jdbcType=INTEGER}, #{operatorName,jdbcType=VARCHAR}, 
      #{keyId,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{ip,jdbcType=VARCHAR}, 
      #{operateModel,jdbcType=INTEGER}, #{action,jdbcType=INTEGER}, #{message,jdbcType=VARCHAR}, 
      #{source,jdbcType=BIT}, #{successStatus,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.guyue.common.vo.CommonOptLog" >
    insert into t_common_opt_log
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="operatorId != null" >
        operator_id,
      </if>
      <if test="operatorName != null" >
        operator_name,
      </if>
      <if test="keyId != null" >
        key_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="ip != null" >
        ip,
      </if>
      <if test="operateModel != null" >
        operate_model,
      </if>
      <if test="action != null" >
        action,
      </if>
      <if test="message != null" >
        message,
      </if>
      <if test="source != null" >
        source,
      </if>
      <if test="successStatus != null" >
        success_status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="operatorId != null" >
        #{operatorId,jdbcType=INTEGER},
      </if>
      <if test="operatorName != null" >
        #{operatorName,jdbcType=VARCHAR},
      </if>
      <if test="keyId != null" >
        #{keyId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="ip != null" >
        #{ip,jdbcType=VARCHAR},
      </if>
      <if test="operateModel != null" >
        #{operateModel,jdbcType=INTEGER},
      </if>
      <if test="action != null" >
        #{action,jdbcType=INTEGER},
      </if>
      <if test="message != null" >
        #{message,jdbcType=VARCHAR},
      </if>
      <if test="source != null" >
        #{source,jdbcType=BIT},
      </if>
      <if test="successStatus != null" >
        #{successStatus,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.guyue.common.vo.CommonOptLog" >
    update t_common_opt_log
    <set >
      <if test="operatorId != null" >
        operator_id = #{operatorId,jdbcType=INTEGER},
      </if>
      <if test="operatorName != null" >
        operator_name = #{operatorName,jdbcType=VARCHAR},
      </if>
      <if test="keyId != null" >
        key_id = #{keyId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="ip != null" >
        ip = #{ip,jdbcType=VARCHAR},
      </if>
      <if test="operateModel != null" >
        operate_model = #{operateModel,jdbcType=INTEGER},
      </if>
      <if test="action != null" >
        action = #{action,jdbcType=INTEGER},
      </if>
      <if test="message != null" >
        message = #{message,jdbcType=VARCHAR},
      </if>
      <if test="source != null" >
        source = #{source,jdbcType=BIT},
      </if>
      <if test="successStatus != null" >
        success_status = #{successStatus,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.guyue.common.vo.CommonOptLog" >
    update t_common_opt_log
    set operator_id = #{operatorId,jdbcType=INTEGER},
      operator_name = #{operatorName,jdbcType=VARCHAR},
      key_id = #{keyId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      ip = #{ip,jdbcType=VARCHAR},
      operate_model = #{operateModel,jdbcType=INTEGER},
      action = #{action,jdbcType=INTEGER},
      message = #{message,jdbcType=VARCHAR},
      source = #{source,jdbcType=BIT},
      success_status = #{successStatus,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>