<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.guyue.common.dao.CommonRoleMapper" >
  <resultMap id="BaseResultMap" type="com.guyue.common.vo.CommonRole" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="c_name" property="cName" jdbcType="VARCHAR" />
    <result column="n_projectid" property="nProjectid" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, c_name, n_projectid
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_common_role
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_common_role
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.guyue.common.vo.CommonRole" >
    insert into t_common_role (id, c_name, n_projectid
      )
    values (#{id,jdbcType=BIGINT}, #{cName,jdbcType=VARCHAR}, #{nProjectid,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.guyue.common.vo.CommonRole" >
    insert into t_common_role
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="cName != null" >
        c_name,
      </if>
      <if test="nProjectid != null" >
        n_projectid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="cName != null" >
        #{cName,jdbcType=VARCHAR},
      </if>
      <if test="nProjectid != null" >
        #{nProjectid,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.guyue.common.vo.CommonRole" >
    update t_common_role
    <set >
      <if test="cName != null" >
        c_name = #{cName,jdbcType=VARCHAR},
      </if>
      <if test="nProjectid != null" >
        n_projectid = #{nProjectid,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.guyue.common.vo.CommonRole" >
    update t_common_role
    set c_name = #{cName,jdbcType=VARCHAR},
      n_projectid = #{nProjectid,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>